[Desktop Entry]
Encoding=UTF-8
Name=Link to https://google.github.io/styleguide/cppguide.html
Type=Link
URL=https://google.github.io/styleguide/cppguide.html
Icon=text-html
